@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <span>Image 1</span>
    <span>Image 2</span>
    <span>Image 3</span>
    <span>Image 4</span>
    <span>Image 5</span>
    <br />
    <span>Image 6</span>
    <span>Image 7</span>
    <span>Image 8</span>
    <span>Image 9</span>
    <span>Image 10</span>
    <br />
    <span>Image 11</span>
    <span>Image 12</span>
    <span>Image 13</span>
    <span>Image 14</span>
    <span>Image 15</span>
    <br />
    <span>Image 16</span>
    <span>Image 17</span>
    <span>Image 18</span>
    <span>Image 19</span>
    <span>Image 20</span>
</div>
